# Dependencies
node_modules

# Build outputs
dist
build
.vite

# Coverage reports
coverage

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# IDE
.vscode
.idea

# Git
.git

# Misc
.DS_Store
