.list {
	list-style: none;
}

.item {
	padding: 0 1rem;
}

// .title {
// &::before {
// 	content: '•';
// 	margin-left: -1rem;
// }
// }

.time {
	font-weight: 400;
	margin-left: 1rem;
}

.additional_info {
	font-weight: 400;
	margin: 0;
	color: var(--light-txt);
}