.tooltip {
	// border-bottom: 1px dotted #333;
	position: relative;
	cursor: pointer;

	&:hover {
		&::after {
			content: attr(data-tooltip);
			position: absolute;
			left: -5px;
			top: 2rem;
			background: rgba(0, 0, 0, 0.85);
			padding: 3px 7px;
			font-size: 1rem;
			font-weight: normal;
			color: #fff;
			border-radius: 3px;
			margin-left: 7px;
			margin-top: -3px;
			z-index: 99;
		}
	}
}

