$color_1: #fff;
$color_2: #e34234;
$color_3: #ba160c;
$font_family_1: 'Open Sans', sans-serif;

body {
	background: #00356b;
}
canvas {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #00356b;
}
.text {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	color: $color_1;
	max-width: 90%;
	padding: 2em 3em;
	background: rgba(0, 0, 0, 0.2);
	text-shadow: 0px 0px 2px #131415;
	font-family: $font_family_1;
	text-align: center;
}
h1 {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
a {
	color: $color_2;
	transition: 0.25s;
	&:visited {
		color: $color_2;
		transition: 0.25s;
	}
	&:hover {
		color: $color_3;
	}
	&:focus {
		color: $color_3;
	}
}
@media screen and (max-width: 768px) {
	.text {
		width: 100%;
		> img {
			width: 60%;
			height: auto;
		}
		> p {
			font-size: 1.6rem;
		}
	}
}
@media screen and (max-width: 600px) {
	.text {
		width: 100%;
		> img {
			width: 80%;
			height: auto;
		}
		> p {
			font-size: 1.2rem;
		}
	}
}
