$color_1: #f1faee;
$color_2: #e34234;
$color_3: #ba160c;

$font_family_1: 'Open Sans', sans-serif;
$font_family_2: 'HCo Operator Mono', -apple-system, BlinkMacSystemFont,
	'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
	sans-serif;

$color4: #e63946;
$color5: #f1faee;
$color6: #a8dadc;
$color7: #457b9d;
$color8: #1d3557;

@keyframes glow {
	from {
		box-shadow: 0 0 5px -5px #a8dadc;
	}
	to {
		box-shadow: 0 0 5px 5px #a8dadc;
	}
}

body {
	background: $color8;
	margin: 0;
	font-family: $font_family_2;
}

#tsparticles {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -999;
}

.nav {
	margin: 0;
	padding: 0 1rem;
	.nav-item {
		list-style-type: none;
		display: inline-block;
		.nav-link {
			color: $color_1;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				color: $color_2;
			}
		}
		&:not(:first-of-type) {
			margin-left: 1rem;
		}
	}
}

.text {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	color: $color_1;
	max-width: 90%;
	padding: 2em 3em;
	background: rgba(0, 0, 0, 0.05);
	text-shadow: 0px 0px 2px #131415;
	// font-family: $font_family_1;
	text-align: center;
}

h1 {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

a {
	color: $color_2;
	transition: 0.25s;
	// font-family: $font_family_2;

	&:visited {
		color: $color_2;
		transition: 0.25s;
	}
	&:hover {
		color: $color_3;
	}
	&:focus {
		color: $color_3;
	}
}

.primary {
	background-color: $color4;
	border-color: $color4;
}

.secondary {
	background-color: $color7;
	border-color: $color7;
}

.transliterate-box {
	label {
		display: inline-block;
		text-align: center;
		--rotate: -1deg;
		--scale: 1;
		transform: rotate(var(--rotate)) scale(var(--scale));
		// margin: -30px 0px 2rem;
		padding: 2px;
		background: none;
		color: $color_1;
		// background-image: url(/static/blackgrit-15c1685….png);

		.highlight {
			background-size: 500px;
			padding: 5px;
		}
	}

	textarea {
		border: 1px solid #ccc;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		min-height: 200px;
		max-width: 100%;
		resize: none;
		width: 100%;
		padding: 0.5rem;
		background: #fff;
		// font-family: $font_family_2;
		font-size: large;
		vertical-align: top;
		outline-style: none;
		box-shadow: none;
		border-color: transparent;

		&.active {
			animation: glow 0.8s infinite alternate;
		}
	}

	> .language-input {
		::selection {
			color: white;
			background: $color4;
		}
		&:first-of-type {
			::selection {
				background: $color7;
			}
		}
	}

	button {
		width: 100%;
		margin: 0;
		padding: 0;
		border-width: 1px;
		border-style: solid;
		color: $color_1;
		font-family: $font_family_1;
		vertical-align: top;
		outline-style: none;
		box-shadow: none;
		border-color: transparent;

		&:hover {
			cursor: pointer;

			&.primary {
				background: lighten($color4, 10%);
				border-color: lighten($color4, 10%);
			}

			&.secondary {
				background: lighten($color7, 10%);
				border-color: lighten($color7, 10%);
			}
		}
	}
}

.button-list {
	a {
		cursor: pointer;
		color: white;
		padding: 0 4px;
		margin-right: 2px;
		border-width: 1px;
		border-style: solid;
		border-radius: 2px;
		vertical-align: middle;

		&:hover {
			background: lighten($color7, 10%);
			border-color: lighten($color7, 10%);
		}
	}
}

@media screen and (max-width: 768px) {
	.text {
		width: 100%;

		> img {
			width: 60%;
			height: auto;
		}

		> p {
			font-size: 1.6rem;
		}
	}

	.transliterate-box {
		grid-template-columns: auto;
	}
}

@media screen and (max-width: 600px) {
	.text {
		width: 100%;

		> img {
			width: 80%;
			height: auto;
		}

		> p {
			font-size: 1.2rem;
		}
	}
}
