@import './colors';

*,
:after,
:before {
	box-sizing: border-box;
}

:root {
	--base-dark: #{$base-dark};
	--base-txt: #{$base-txt};
	--base-bg: #{$base-bg};
	--body-bg: #{$body-bg};
	--body-border-color: #{$body-border-color};
	--selection-bg: #{$selection-bg};
	--selection-txt: #{$selection-txt};
}

::selection {
	background-color: var(--selection-bg);
	color: var(--selection-txt);
}

html {
	min-width: 300px;
	background-color: var(--base-bg);
	color: var(--base-txt);

	@media screen and (min-width: 600px) {
		padding: 15px;
	}
}

body {
	max-width: 1400px;
	margin: 0 auto;
	background-color: var(--body-bg);
	border: 1px solid var(--body-border-color);
	// font-family: proxima-nova, Verdana, sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 112.5%;
	line-height: 1.4;

	@media screen and (min-width: 600px) {
		padding: 30px;
		border-radius: 4px;
	}
}

.content {
	display: flex;
}

.left-bar {
	padding: 2rem;
}

h1,
h2 {
	text-align: center;
	text-transform: uppercase;
}

h1 {
	line-height: 0.85;
	font-size: 3rem;
	font-weight: 100;
	margin-bottom: 0.5rem;
}

h2 {
	margin: 0;
	font-weight: 400;
}

h3 {
	text-transform: uppercase;
	white-space: nowrap;
	color: var(--base-dark);
}

dl {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

dt {
	text-transform: uppercase;
	font-weight: bold;
	color: var(--base-dark);
}

dd {
	margin-left: auto;
}
