@media screen and (min-width: 1024px) {
	.content {
		display: flex;
	}

	.main-content {
		flex-basis: 65%;
	}

	.left-bar {
		padding: 2rem 2rem 0 0;
		flex-basis: 35%;
	}

	aside {
		section {
			margin-left: 3.5rem;
		}
	}

	main {
		section {
			article {
				margin-left: 3.5rem;
			}
		}
	}
}