@media print {
	html {
		font-size: 12px;
	}

	#__next {
		padding: 0;
		margin: 0;
	}

	.action-bar {
		display: none;
	}

	.body {
		margin: 0;
		padding: 0;
		font-size: 80%;
		border: 0;
	}

	.content {
		display: flex;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.header {
		margin-bottom: 2rem;
	}

	h1 {
		margin-top: 1rem;
	}

	.main-content {
		flex-basis: 65%;
		padding: 0 0 0 1.5rem;
		padding-bottom: 0;
	}

	.left-bar {
		flex-basis: 35%;
		padding: 0;
		// padding: 0 1rem;
	}

	aside section,
	main section article {
		margin-left: 3.5rem;
	}

	img {
		height: 10rem;
		width: 10rem;
	}

	.project-item a {
		text-decoration: none;
	}

	.experience {
		margin-bottom: 2rem;

		.technologies {
			margin-top: .5rem;
			display: block;

			h6 {
				margin: .8rem 0 .1rem;
			}
		}

		.technologies-list {
			display: block;
		}

		.technologies-icons-list {
			display: none;
		}
	}

	footer {
		display: none;
	}
}
