@media print {
	html {
		font-size: 12px;
	}

	#__next {
		padding-top: 0;
		padding-bottom: 0;
	}

	.action-bar {
		display: none;
	}

	.body {
		margin: 0;
		padding: 0;
		font-size: 80%;
		border: 0;
	}

	.content {
		display: flex;
		width: 100%;
		margin: 0;
		padding: 1rem;
		padding-bottom: 0;
	}

	.header {
		margin-bottom: 2rem;
	}

	h1 {
		margin-top: 1rem;
	}

	.main-content {
		flex-basis: 65%;
		padding: 1rem;
		padding-bottom: 0;
	}

	.left-bar {
		flex-basis: 35%;
		padding: 0;
		// padding: 0 1rem;
	}

	aside section,
	main section article {
		margin-left: 3.5rem;
	}

	img {
		height: 10rem;
		width: 10rem;
	}
}
